@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

section{
    padding: 50px 100px;
}
img{
    width: 100%;
}
body{
    color: black;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index:1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 100px;
    transition: 0.5s linear;
    background-color:black;
}
header.shadow{
    background: black;
    box-shadow:2px 10px 4px rgb(14 55 54 /15%) ;
}
.logo img{
    width: 60px;
}
.navbar{
    display: flex;
}
.navbar a{
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}
.navbar a:hover{
    background: burlywood;
    border-radius: 0.2rem;
    transition: 0.2s all linear;
}
.header-icon{
    font-size: 22px;
    cursor: pointer;
    z-index: 10000;
    display: flex;
    column-gap:0.8rem;
}
.header-icon .bx{
    color: white;

}
.header-icon .bx:hover{
    color:burlywood;

}


#menu-icon{
    color: white;
    font-size: 24px;
    z-index: 100001;
    cursor: pointer;
    display: none;
}
.search-box{
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%);
    background: white;
    width: 100%;
}
.search-box.active{
    top: 110%;
    box-shadow:2px 10px 4px rgb(14 55 54 /15%);
    transition: 0.2s all linear;
}
.search-box input{
    padding: 20px;
    border: none;
    outline: none;
    width: 100%;
    font-size: 1rem;
    color: burlywood;
}
.search-box input::placeholder{
    font-size: 1rem;
    font-weight: 500;
}

.home{
    width: 100%;
    min-height: 100vh;
    background: url(../img/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    display:flex;
    align-items: center;
    gap: 1.5rem;
}
.home-text h1{
    font-size: 3.4rem;
    color: burlywood;
    text-transform:uppercase;
    letter-spacing: 1px;
    padding-left: 30px;
}
.home-text p{
    font-size: 0.938rem;
    color: burlywood;
    margin: 0.5rem 0 1.4rem;
    padding-left: 30px;
}
.btn{
    padding: 10px 40px;
    border-radius: 0.4rem;
    color: white;
    font-weight: 500;
    background: burlywood;
    font-size: large;

}
.btn:hover{
   background: saddlebrown;

}
.about{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.about-img img{
    border-radius: 5rem;
    padding-top: 15px;
    padding-left: 15px;
}
.about-text h2{
    font-size: 1.8rem;
    text-transform: uppercase;

}
.about-text p{
    font-size: 0.938rem;
    margin:0.5rem 0 1.1rem;

}
.heading{
    text-align: center;
}
.heading h2{
    font-size:1.8rem;
    text-transform: uppercase;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(auto fit,minmax(280px,auto));
    gap: 1.5rem;
    margin-top: 2rem;
    display: inline-block;
    width: 100%;
}
.products-container .box{
    position: relative;
    padding:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.5rem;
    box-shadow:2px 10px 4px rgb(14 55 54 /15%);
    float: left;
    margin-right: 16px;
    width: 310px;
}
.products-container img{
    width: 100%;
    height:250px;
    object-fit: contain;
    object-position: center;
    padding: 20px;
    background: white;
    border-radius: 0.5rem;
}
.products-container .box h3{
    font-size: 1rem;
    font-weight: 600;
text-transform: uppercase;
margin: 0.5rem 0 0.5rem;
}
.products-container .box .content{
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.products-container .box .content span{
    padding: 0 1rem;
    color: white;
    background: burlywood; 
    border-radius: 4px;
    font-weight: 500;
}
.products-container .box .content a{
    padding: 0 1rem;
    color: black;
    border: 2px solid burlywood; 
    border-radius: 4px;
  text-transform: uppercase; 
  text-decoration: none;
}
.products-container .box .content a:hover{
    background: burlywood;
   color:white ;
   transition: 0.2s all linear; 
}
.customers-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,auto));
    gap:1.5rem;
    margin-top: 2rem;
}
.customers-container .box{
    padding: 20px;
    box-shadow:2px 10px 4px rgb(14 55 54 /15%) ;
    border-radius: 0.5rem;
    text-align: center;
}
.start.bx{
    color: burlywood;
}
.customers-container.box p{
    font-size: 0.938rem;
}
.customers-container.box h2{
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0.5rem 0 0.5rem;
}
.customers-container.box img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;    
}
.customers-container.box :hover{
    background: burlywood;
    transition: 0.2s all linear;
}
.footer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,auto));
    gap:1.5rem;
}
.footer-box h2{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.footer-box p{
    font-size: 0.938;
    margin-bottom:10px;
}
.footer-box li a{
    text-decoration: none;
    color: black;
   padding-top: 2px;
}
.footer-box li a:hover{
    background: burlywood;
    color: black;
    font-size: large;
}
.social{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}
.social a bx{
    font-size: 24px;
    color: black;
    padding: 10px; 
    background:white;
    border-radius: 0.2rem;
}
.social a bx:hover{
    background: burlywood;
    color: white;
}
.footer-box h3{
    font-weight: 600;
    margin-bottom: 10px;
}
.contact{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}
.contact span{
    display: flex;
    align-items: center; 
}
.contact i{
    font-size: 20px;
    margin-right: 1rem;
}
.copyright{
    padding: 20px;
    text-align:center;
    background: burlywood;
}
@media(max-width:1058){
    header{
        padding: 16px 60px;
    }
    section{
        padding: 50px 60px;
    }
.home-text h1{
    font-size: 2.4rem;
}   
}
#whattimeisit{
    position: absolute;
    float: right;
    color: wheat;
    top: 100px;
}
